.square {
    background-color: white;
    width: 100px; /* 增加寬度 */
    height: 100px; /* 增加高度 */
    border: 2px solid grey;
    font-size: 50px; /* 增加字體大小 */
    font-weight: bold;
    cursor: pointer;
    line-height: 100px; /* 調整行高以垂直居中對齊 */
    margin: auto;
    float: left;
    text-align: center;
}

.square:hover {
    background-color: rgb(233, 183, 210);
    color: white;
}

.game {
    width: 600px; /* 增加寬度 */
    margin: auto;
    border-radius: 20px;
    padding: 40px; /* 增加內邊距 */
    display: flex;
    flex-direction: row;
    align-items: center;
}

.game-board {
    background-color: gainsboro;
    padding: 30px; /* 增加內邊距 */
    border-radius: 10px;
    border: 1px solid black;
}

.game-info {
    margin-left: 50px; /* 增加左邊距 */
    margin-right: 30px; /* 增加右邊距 */
    padding: 15px; /* 增加內邊距 */
}

.game-info h4 {
    font-size: 30px; /* 增加"遊戲歷程"的字體大小 */
    margin-bottom: 20px; /* 增加底部外邊距 */
}

.game-info ol {
    font-size: 24px; /* 增加列表項的字體大小 */
}

.board-row:after {
    clear: both;
    content: '';
    display: table;
}

.status {
    margin-bottom: 30px; /* 增加底部外邊距 */
}
